/* header styling */
*{
    padding: 0px;

}
header{
    position: fixed;
    width: 100%;
    top: 0;
}
.header{
    
    background-color: whitesmoke;
    display: flex;
    justify-content:space-evenly;

}
.nav{
    position: relative;
    top: 7px;
}
.nav ul{
    display: flex;
    gap: 10px;
}
.header .nav li{
    list-style: none;
    display: flex;

}
.nav a{
    text-decoration: none;
    color: black;
}

.headericons{
    display: flex;
    gap: 20px;
    position: relative;
    top:18px ;
}
.headericon{
    height: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
.htext h2:hover,.headericon:hover{
    background-color: black;
    color: white;
}
.header .nav li:hover,.nav li a:hover{
    color: #aaa5a5;
}

/* main image */

.mainimg{
  
    margin-top: 80px;
    height: min-content;
    width: 98%;
    margin-left: 16px;
    height: 500px;
    overflow: hidden;
}
.mainimg img{
   
    height: 500px; 
    width: 100%;
 

}
.imgdesc{
    font-size: larger;
    color: white;
    position: relative;
    bottom: 250px;
    left: 60px;
}
