/* header styling */
*{
    padding: 0px;

}
header{
    position: fixed;
    width: 100%;
    top: 0;
}
.header{
    
    background-color: whitesmoke;
    display: flex;
    justify-content:space-evenly;

}
.nav{
    position: relative;
    top: 7px;
}
.nav ul{
    display: flex;
    gap: 10px;
}
.header .nav li{
    list-style: none;
    display: flex;

}
.nav a{
    text-decoration: none;
    color: black;
}

.headericons{
    display: flex;
    gap: 20px;
    position: relative;
    top:18px ;
}
.headericon{
    height: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
.htext h2:hover,.headericon:hover{
    background-color: black;
    color: white;
}
.header .nav li:hover,.nav li a:hover{
    color: #aaa5a5;
}

/* main image */

.mainimg{
  
    margin-top: 80px;
    height: min-content;
    width: 98%;
    margin-left: 16px;
    height: 500px;
    overflow: hidden;
}
.mainimg img{
   
    height: 500px; 
    width: 100%;
 

}
.imgdesc{
    font-size: larger;
    color: white;
    position: relative;
    bottom: 250px;
    left: 60px;
}
/* Latestproducts ans category buttons */
.mainheading{
    text-align: center;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.CategoryButtons{
    text-align: center;
    display: flex;
   justify-content: center;
   gap: 60px;
   margin-top: 60px;
   margin-bottom: 40px;
}
.CategoryButtons button{
    padding: 8px;
    background-color: white;
    border: 1px solid #555555 ;
    border-radius: 5px;
}
.CategoryButtons button:hover{
    background-color: black;
    color: white;
}
/* homepage ProductCard */

.product-card{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    width: 300px;
    height: 450px;
    text-align: center;
}

#HomeProducts,#ProductContainer,#SelectedProduct{

    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product-card img{
    width: 250px;
    height: 200px;
}
.product-card .desc{
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
:root {
    --char-count: 14; 
}
.product-card .title {
    width: calc(var(--char-count) * 1ch);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: x; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-card hr{
    max-width: 100%;
    height: auto;
}
.buttons{
    display: flex;
   justify-content: space-around;
}
.card-button{
    background-color: black;
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;

}
.card-button:hover{
    background-color: white;
    color: black;
}


#Home, #Product ,#SelectedProduct{
    display: none;
}

#SelectedProductDetails img{
    width: 300px;
 
 }
 #SelectedProductDetails{
     margin: auto;
     width: 90%;
     margin-top: 100px;
     display: flex;
     gap: 200px;
   
 }